<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="stylesheet" href="./css/style.css">     
        <link href="./img/2019-05-25-230229.jpg" rel="icon">
    </head>
    <body>

        <div class="main-content">
             {{>header}}
             <img src="./img/2019-05-25-230229.jpg" alt="" class="portrait">
        </div>
        {{>footer}}
    </body>
</html>
